<template name="new_user_admin">
	<h4>Create new user</h4>
	<br>
	<form>
		<table class="table">
			<tbody>
				<tr>
					<td><label>Username</label></td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td><label>Password</label></td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input class="btn btn-default" type="submit" name="submit" value="Create user">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</template>