<template name="all_elements">
	<div class="panel-heading">
		Elements
		<a class="pull-right" href="{{pathFor 'new_element' username=owner group=name}}">New element</a>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Score</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each beers}}
					<tr class="clickable" name="{{name}}:{{type}}">
						<td>{{name}}</td>
						<td>{{type}}</td>
						<td>{{score}}</td>
						<td></td>
					</tr>
				{{/each}}
			</tbody>
		</table>	
	</div>
</template>