<template name="element">
	{{#with get_current_element}}
	<div class="panel-body">
		{{#transition in="fadeIn:800" out="fadeOut:500"}}
		<h4 class="animated out">{{name}} - {{type}}</h4>
		<a id="back" class="animated out">back</a>
		<table class="table animated out">
			<thead>
				<tr>
					<th>Point</th>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
				{{#each points}}
					<tr class="animated ">
						<td>{{point}}</td>
						<td>{{username}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		{{#if have_not_given}}
		<form>
			<input type="text" name="score" autocomplete="off">
			<input type="submit" name="submit" value="Give points">
		</form>
		{{/if}}
		{{/transition}}
	</div>
	{{/with}}
</template>
