<template name="element">
	{{#with get_current_element}}
	<h4>{{name}} - {{type}}</h4>
	<a href="" id="back">back</a>
	<table class="table">
		<thead>
			<tr>
				<th>Point</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			{{#each points}}
				<tr>
					<td>{{point}}</td>
					<td>{{username}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	{{#if have_not_given}}
	<form>
		<input type="text" name="score" autocomplete="off">
		<input type="submit" name="submit" value="Give points">
	</form>
	{{/if}}
	<!-- <div class="panel-heading">
		{{name}}
		<br>
		{{type}}
	</div>
	
	<div class="panel-body">
		
	</div> -->
	{{/with}}
</template>
