<template name="new_type">
	<form>
		{{#transition in="fadeIn:800" out="fadeOut:100"}}
		<table class="table animated out">
			<tbody>
				<tr>
					<td><label>Name:</label></td>
					<td><input  id="type_name" type="text" name="type_name" autocomplete="off"></td>
					<input id="group_id" type="text" name="group_id" value="{{_id}}" hidden>
				</tr>
				<tr>
					<td></td>
					<td>
						<input id="submit" type="submit" name="submit" value="Create">
						<input id="cancel" type="submit" name="cancel" value="Cancel">
					</td>
				</tr>
			</tbody>
		</table>
		{{/transition}}
	</form>
</template>