<template name="all_members_admin">
	<input id="group_id_members" type="text" name="group_id" value="{{_id}}" hidden>
	<table class="table">
		<tbody>
			{{#if is_owner owner}}
				{{#each members}}
				<tr>
					<td>
						{{#if is_online this}}
							<i class="fa fa-circle" aria-hidden="true" style="color:green;" title="Online"></i>
						{{else}}
							<i class="fa fa-circle-thin" aria-hidden="true" title="Offline"></i>
						{{/if}}
					</td>
					<td>
						{{this}}
					</td>
					<td>
						<button id="{{this}}" class="btn btn-xs btn-danger remove-user-btn">
							Remove
						</button>
					</td>
				</tr>
				{{/each}}
			{{else}}
				{{#each members}}
				<tr>
					<td>
						{{#if is_online this}}
							<i class="fa fa-circle" aria-hidden="true" style="color:green;" title="Online"></i>
						{{else}}
							<i class="fa fa-circle-thin" aria-hidden="true" title="Offline"></i>
						{{/if}}
					</td>
					<td>
						{{this}}
					</td>
				</tr>
				{{/each}}
			{{/if}}
		</tbody>
	</table>	
</template>