<template name="new_element">
	<!-- <h3>Create new element for the group {{name}}</h3> -->
	<br>
	<form>
		<input type="text" name="group_id" value="{{_id}}" hidden>
		{{#transition in="fadeIn:800" out="fadeOut:500"}}
		<table class="table animated out">
			<tbody>
				<tr>
					<td><label>Name:</label></td>
					<td><input id="elem_name" type="text" name="element_name" autocomplete="off" ></td>
				</tr>
				<tr>
					<td><label>Type:</label></td>
					<td>
						<input list="types" name="types" autocomplete="off">
						<datalist id="types">
							{{#each get_types}}
								<option value="{{name}}">{{name}}</option>
							{{/each}}
						</datalist>
						<!-- <input id="element_type" type="text" name="element_type" autocomplete="off"> -->
						<!-- <input list="browsers" name="browser">
						  <datalist id="browsers">
						    <option value="Internet Explorer"></option>
						    <option value="Firefox"></option>
						    <option value="Chrome"></option>
						    <option value="Opera"></option>
						    <option value="Safari"></option>
						  </datalist>
						  <input type="submit"> -->
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="submit" value="Create">
						<input id="back_new" type="button" name="cancel" value="Cancel">
					</td>
				</tr>
			</tbody>
		</table>
		{{/transition}}
	</form>
</template>